<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Id</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.emailId}}</td>
    <td>
      <button id="updateButton" (click)="updateEmployee(employee.id)" mat-raised-button color="primary">Update</button>
      <button id="deleteButton" (click)="deleteEmployee(employee.id)" mat-raised-button color="warn" style="margin-left: 10px">Delete</button>
      <button id="detailsButton" (click)="employeeDetails(employee.id)" mat-raised-button color="accent" style="margin-left: 10px">Details</button>
    </td>

  </tr>
  </tbody>
</table>
