<!--NEW MATERIAL TOOLBAR FIGA-->
<mat-toolbar color="primary">

  <span> My app</span>
  <div class="spacer"></div>

  <a mat-flat-button color="primary" routerLink="employees" routerLinkActive="active">Employee List</a>
  <a mat-flat-button color="primary" routerLink="create-employee" routerLinkActive="active">Add Employee</a>

</mat-toolbar>
<!--routerLink = è la direttiva Angular che permette
di collegare un link ad un url specifico;
in questo caso quando cliccheremo su questo link verremo
reindirizzati alla pagina /employees-->

<!--OLD TOOLBAR WITH BOOTSTRAP-->

<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>                                              </li>
    <li class="nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
    </li>
  </ul>
</nav>-->


<h1 class="text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet> <!-- Questa tag (direttiva) serve per aggiornare i nostri template e i loro componenti
                                       in maniera dinamica in base al path url
                                   -->
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022</span>
  </div>
</footer>
